<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="com.baolei" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>hell05a</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/ggtrade?useUnicode=true&amp;characterEncoding=utf-8
			</value>
		</property>
	</bean>

	<bean id="sqlMapClient" 
        class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value> 
                classpath:sql-map-config.xml
            </value>
        </property>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    
    <bean id="dataSourceMssql"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
		</property>
		<property name="username">
			<value>sa</value>
		</property>
		<property name="password">
			<value></value>
		</property>
		<property name="url">
			<value>jdbc:sqlserver://localhost:1433;DatabaseName=Turtle2
			</value>
		</property>
	</bean>

	<bean id="sqlMapClientMssql" 
        class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value> 
                classpath:sql-map-mssql-config.xml
            </value>
        </property>
        <property name="dataSource" ref="dataSourceMssql"/>
    </bean>
    
    <bean id="dayRecordDAO" 
        class="com.baolei.ghost.dal.daoimpl.ibatis.DayRecordDAOImpl">
    </bean>
    
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
</beans>
