<?xml version="1.0" encoding="utf-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>hell05a</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/ghost?useUnicode=true&amp;characterEncoding=utf-8</value>
        </property>
    </bean>

    <bean id="sqlMapClient"
        class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value>sql-map-config.xml</value>
        </property>

    </bean>
    
    <bean id="stockDAO" class="com.baolei.ghost.dal.daoimpl.ibatis.StockDAOImpl" />
</beans>